{% extends "base.html.j2" %}

{% block body %}
    <nav>
        <div class="logo">ADA Finance</div>
        <input type="checkbox" id="checkbox">
        <ul>
            <li><a href=".">Home</a></li>
            <li><a href="forecast">Price Prediction</a></li>
            <li><a href="screener" class="active">Stock Screener</a></li>
            <li><a href="#contact">Contact Us</a></li>
        </ul>
    </nav>
    <main id="homeheader">
        screener
    </main>
{% endblock %}
