body {
  background: #232f27;
}

.graph_display {
  margin: auto;
  width: 50%;
}

#graph-jpg {
  width: 100%;
  padding-top: 5%;
}

#explore_list {
  padding-top: 5%;
  width: 50%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

h1, h2 {
  text-align: center;
}