@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1E5128;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    overflow: overlay;
}

#results_table {
    padding: 1%;
    padding-top: 5%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

#screener_form {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6%;
    font-size: medium;
    width: 100%;
    height: 20%;
}

input {
  padding: 5px;
  float:left;
  margin: 0.6em;
  font-size: medium;
  text-align: center;
  width: 10%;
  height: 20px;
  display:inline-block;
}

.screenerform_info {
  color : white;
  padding-top: 5%;
  padding-bottom: 0.2%;
  text-align: center;
}

label {
  /* padding-top: 1%; */
  color: white;
  background-color: grey;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 25px 5%;
    padding-left: 10px;
    align-items: center;
    background: #0d0d0d;
    font-size: large;
    width:100%;
    position: fixed;
    transition: all 300ms ease;
    z-index: 10;
}

.logo {
    display:inline;
    color: #FFF;
    font-size: 22px;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
    border-right:solid 1px #FFF;
}

ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 0px;
    margin: 30px;
    position: relative;
}

ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    transform-origin: center;
    font-weight:bold;
}

ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    transform-origin: center;
}

.active::after {
    font-weight:bold;
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: none;
}

#checkbox{
    display: none;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

h1 {
    animation: fadeIn 2s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color:white;
    transition: all .1s ease-in-out;
    padding: 50px;
    padding-bottom:10px;
    font-size: 80px;
    letter-spacing: -2px; 
}

h4 {
    animation: fadeIn 5s;
    color:white;
    transition: all .1s ease-in-out;
    padding: 50px;
    padding-top:10px;
    font-size: 25px;
    letter-spacing: 1px; 
}

/*footer*/
.footer {
    position: relative;
    width: 100%;
    background: #191A19;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
    font-size: small;
  }
  
  .menu__item {
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
  
  .menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
  
  .menu__link:hover {
    opacity: 1;
  }
  
  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
    border-right:solid #191A19;
  }

  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }

/* Tiles */
.tools{
  background-color: whitesmoke;
  text-align:center;
  display:flex;
  justify-content:center;
  align-items:center;
}

.tile{
  font-size:small;
  padding:100px;
  display:block;
}

.screenertile {
  display: inline-block;
  box-sizing: content-box;
  transition:0.5s;
  justify-content:center;
  align-items:center;
  background-image:url(https://media-cldnry.s-nbcnews.com/image/upload/newscms/2020_12/3279436/200322-new-york-stock-exchange-coronavirus-cs-1144a.jpg);
  background-position:center;
  background-size:cover;
  border-radius:10px;
  margin: 30px;
  margin-top: 30px;
}
.screenertile div{
  opacity:0;
  transform:scale(0);
  transition:0.5s;
  font-size:2rem;
  color:white;
}

.screenertile:hover {
  box-shadow:0 0 0 200px rgba(0,0,0,0.9) inset;
}

.screenertile:hover div{
  opacity:1;
  transform:scale(1);
}
  
/* Heading */
.heading{
  text-align: center;
  padding: 10px;
  padding-top:50px;
  background-color: whitesmoke;
  font-size: larger;
}

.subheading{
  text-align: center;
  padding: 10px;
  background-color: whitesmoke;
  font-size: larger;
}

.space {
  font-size:xx-large;
}

.btn {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

.caption {
  font-size: 15px;
  padding: 10px;
}

.video {
  position:absolute;
  top: 103px;
  left:0;
  height:85%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  opacity:35%;
  background-color: #1E5128;
}

.overlay {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #000000 none repeat scroll 0 0;
  mix-blend-mode: overlay;
}

.background {
  background:whitesmoke;
}

.about {
  align-items: left;
  width: 80%;
}

.container {
  width: 100%;
  background:whitesmoke;
  width:auto;
  height:auto;
  border-top: #1E5128 dotted 5px;
  overflow:auto; 
}

.child {
  background:whitesmoke;
  float: left;
  padding:50px;
  line-height: 200%;
  font-size: larger;
  width:100%;
}

.title {
  text-align: center;
  background-color: whitesmoke;
  font-size: xx-large;
  padding: 10px;
  padding-top:50px;
  width:20%;
  height:100%;
  text-decoration: underline #1E5128 3px;
  line-height: 200%;
}

.aboutus {
  background: whitesmoke;
}

/* label {
  display: inline-block;
  width: 30px;
  border: #455468 solid 2px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  color: red;
}

input[type="submit"] {
  background-color: green;
  color: white;
  padding: 10px;
  margin-top: 10px;
}

#submit_div {
  text-align: center;
  width: 100%;
}

.criteria {
  width: 100%;
  display:inline-block;
  size: 50%;
  height: 20%;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background-color:transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 10px;
  border: 2px solid #a3a3a3;
}

#caption {
  font-size: xx-small;
  font-style: italic;
}

#screener {
  display:inline-block;
  width:100%;
  height: 10%;
  display: table-cell;
} */