body {
    background-color: #232f27;
}

#screener_form {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: medium;
    width: 100%;
}

#form_div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.screenercriteria {
    margin-left: auto;
    margin-right: auto;
    flex-basis: 18%;
    margin-bottom: 20px;
}

.break {
  flex-basis: 100%;
  height: 0;
}

input {
    padding: 0.3%;
    margin: 0.6em;
    font-size: medium;
    text-align: center;
    width: 15%;
    height: 1%;
    display:inline-block;
}

input[type=number] {
    height: 40%;
    width: 30%;
}

.screenercriteria_info {
    color : white;
    padding-top: 1%;
    padding-bottom: 0.2%;
    text-align: center;
    margin-bottom: 5px;
}

#checkbox{
    display: none;
}

label {
    display: inline-block;
    width: 30px;
    /* border: black solid 1px; */
    text-align: center;
    vertical-align: middle;
    color: white;
    background-color: grey;
    font-weight: bold;
    font-size: larger;
    border-radius: 10%;
    align-items: center;
    line-height: 20px;
    padding-bottom: 4px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    color: red;
    border: #455468 solid 2px;
}

input[type="submit"] {
    background-color: #cbcaca;
    color: #232f27;
    padding: 10px;
    margin-top: 10px;
    height: 50px;
}

input[type="submit"]:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}

#submit_div {
    text-align: center;
    width: 100%;
}

#caption {
    font-size: xx-small;
    font-style: italic;
}

#screenerpadding {
  height: 40px;
}

#screener {
  width: 100%;
}

#clear {
    background-color: #cbcaca;
    color: #232f27;
    padding: 10px;
    margin-top: 10px;
    height: 50px;
    float:right;
    margin: 50px;
    margin-bottom: 10px;
    display:inline-block;
}

#clear:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}
/*help tips*/
.help-tip{
    position: absolute;
    top: 18px;
    right: 18px;
    text-align: center;
    background-color: #BCDBEA;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: default;
    z-index: 500;
}

.help-tip:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}

.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{    /* The tooltip */
    display: none;
    text-align: left;
    background-color: #1E2021;
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
}

.help-tip p:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    right:10px;
    top:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
    0% { 
        opacity:0; 
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}

/*Vars*/ 
:root {
    --rad: 0.7rem;
    --dur: 0.3s;
    --color-dark: #2f2f2f;
    --color-light: #fff;
    --color-brand: #57bd84;
    --font-fam: 'Lato', sans-serif;
    --height: 35px;
    --btn-width: 50px;
    --bez: cubic-bezier(0, 0, 0.43, 1.49);
  }
  
  #search,
  #search_btn {
    margin-left: 0;
    margin-right: 0;
    margin-top: 150px;
    display: inline-block;
    height: 35px;
    border: 0;
  }
  
  #search {
    margin-left: 50px;
    outline: 0;
    width: 400px;
    text-align: left;
    outline: 0; /* <-- shold probably remove this for better accessibility, adding for demo aesthetics for now. */
    background: var(--color-light);
    padding: 0 1.6rem;
    border-radius: var(--rad);
    transition: all var(--dur) var(--bez);
    transition-property: width, border-radius;
    position: relative;
  }
  
  #search:focus {
    transition: width var(--dur) var(--bez), border-radius var(--dur) var(--bez);
  }
  
  #search_btn {
    display: none; /* prevent being able to tab to it */
    position: relative;
    /* top: 0;
    right: 0; */
    width: var(--btn-width);
    font-weight: bold;
    background: var(--color-brand);
    border-radius: 0 var(--rad) var(--rad) 0;
  }
  
  #search:not(:placeholder-shown) {
    border-radius: var(--rad) 0 0 var(--rad);
    width: calc(400px - var(--btn-width));
  }
  
  #search:not(:placeholder-shown) + #search_btn {
    display: inline-block;
  }

  #searchlabel {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

