body {
    background-color: #232f27;
}

#results_table {
    padding-top: 100px;
    text-align: center;
    background-color: white;
    word-wrap: break-word;
    font-size: 0.9em;
    font-family: sans-serif;
}

#results_table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

#results_table th {
    background-color: #232f27;
    color: whitesmoke;
    border: 2px solid #232f27;
}

#results_table th,
#results_table td {
    padding: 12px 15px;
}

#results_table tbody tr {
    border-bottom: 1px solid #dddddd;
}

#results_table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#results_table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}