body {
    background-color: #232f27;
}

#results_table {
    margin:auto;
    text-align: center;
    background-color: #232f27; /*white*/
    word-wrap: break-word;
    font-size: 0.8em;
    font-family: sans-serif;
    color:#cddfe5; /*black*/
}

#results_table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

#results_table th {
    background-color: #232f27; /*#232f27*/
    color: whitesmoke;
    border: 2px solid #364a37; /*#232f27*/
}

#results_table th,
#results_table td {
    padding: 5px 5px;
    border-radius: 5%; 
}

#results_table tbody tr {
    border-bottom: 1px solid #dddddd;
}

#results_table tbody tr:nth-of-type(even) {
    background-color: #364a37; /*#2d3b2d#364a37*/
}

#results_table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.emptyspace {
    height:120px;
    width:100%;
}

#results_table tbody tr:hover {
    background-color: #425c42;
}

#ticker:hover{
    text-decoration: underline solid #3282df;
}