{% extends "base.html.j2" %}

{% block styling %}
<link rel="stylesheet" href="static/forecast.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="static/line.js"></script>
{% endblock %}

{% block body %}
    <nav id = "navbar">
        <img class="logo" src="static/Black Logo.png" alt="logo" width="250">
        <ul>
            <li><a href=".">Home</a></li>
            <li><a href="forecast" class="active">Price Prediction</a></li>
            <li><a href="screener">Stock Screener</a></li>
        </ul>
    </nav>
    <main id="homeheader">
        <div class="card_div">
            <div class="card-header">
                Predicted Price
            </div>
            <div class="card-body">
                <canvas id="line" width="10" height="10"></canvas>
            </div>
        </div>
    </main>
{% endblock %}
