{% extends "base.html.j2" %}

{% block body %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="static/line.js"></script>
    <nav>
        <div class="logo">ADA Finance</div>
        <input type="checkbox" id="checkbox">
        <ul>
            <li><a href=".">Home</a></li>
            <li><a href="forecast" class="active">Price Prediction</a></li>
            <li><a href="screener">Stock Screener</a></li>
        </ul>
    </nav>
    <main id="homeheader">
        <div class="card_div">
            <div class="card-header">
                Predicted Price
            </div>
            <div class="card-body">
                <canvas id="line"></canvas>
            </div>
        </div>
    </main>
{% endblock %}
