{% extends "base.html.j2" %}

{% block body %}
    <nav>
        <div class="logo">ADA Finance</div>
        <input type="checkbox" id="checkbox">
        <ul>
            <li><a href=".">Home</a></li>
            <li><a href="forecast" class="active">Price Prediction</a></li>
            <li><a href="screener">Stock Screener</a></li>
        </ul>
    </nav>
    <main id="homeheader">
        <div class="card mb-3">
            <div class="card-header">
                Predicted Price
            </div>
            <div class="card-body">
                <canvas id="line"></canvas>
            </div>
        </div>
    </main>
{% endblock %}
