{% extends "base.html.j2" %}

{% block body %}
    <nav>
        <div class="logo">ADA Finance</div>
        <input type="checkbox" id="checkbox">
        <ul>
            <li><a href=".">Home</a></li>
            <li><a href="forecast">Price Prediction</a></li>
            <li><a href="screener" class="active">Stock Screener</a></li>
        </ul>
    </nav>
    <main id="homeheader">
        <form id="screener_form" action="/screener_results" method="POST">
            {% for criteria_name in items %}
                <p>Criteria for {{translations[criteria_name]}}</p>
                <input type="number" step="0.01" id="{{criteria_name}}_val" name="{{criteria_name}}_val">
                <input type="radio" id="{{criteria_name}}_greater" name="{{criteria_name}}_dir" value=">">
                <label for="{{criteria_name}}_greater"> > </label>
                <input type="radio" id="{{criteria_name}}_lesser" name="{{criteria_name}}_dir" value="<">
                <label for="{{criteria_name}}_lesser"> < </label>
                <br>
            {% endfor %}
            <input type="submit" value="Submit">
        </form>
    </main>
{% endblock %}
