{% extends "base.html.j2" %}
{% block styling %}
    <link rel="stylesheet" href="static/screener.css">
{% endblock %}
{% block body %}
    <nav id = "navbar">
        <img class="logo" src="static/Black Logo.png" alt="logo" width="250">
        {# <input type="checkbox" id="checkbox"> #}
        <ul>
            <li><a href=".">Home</a></li>
            <li><a href="forecast">Price Prediction</a></li>
            <li><a href="screener" class="active">Stock Screener</a></li>
        </ul>
    </nav>
    <main id="homeheader">
        <div id="screener">
            <form id="screener_form" action="/screener_results" method="POST">
                {% for criteria_name in items %}
                <div class="screenercriteria">
                    <p class="screenercriteria_info">{{translations[criteria_name]}} Criteria</p>
                    <input type="radio" id="{{criteria_name}}_lesser" name="{{criteria_name}}_dir" value="<">
                    <label for="{{criteria_name}}_lesser"> < </label>
                    <input type="radio" id="{{criteria_name}}_greater" name="{{criteria_name}}_dir" value=">">
                    <label for="{{criteria_name}}_greater"> > </label>
                    <input type="number" step="0.01" id="{{criteria_name}}_val" name="{{criteria_name}}_val">
                </div>
                {% endfor %}
                <div id="submit_div">
                <input type="submit" id="submit" value="Submit">
                </div>
            </form>
        </div>
    </main>
{% endblock %}